* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    opacity: 0.5;
}

header {
    background-image: url(ima/head.jpg);
    display: flex;
    justify-content: space-between;
    border: solid white;
    border-radius: 10px;
    height: max-content;
}

main {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}

nav {
    display: flex;
    margin: 8px;
    color: white;
}

li {
    display: flex;
    margin: 10px 8px;
    color: rgb(4, 0, 0);
}

button {
    border-radius: 7px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.search-bar input {
    padding: 5px;
    width: 200px;
    margin-top: 12px;
    border-radius: 7px;
}

.search-bar button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border-radius: 7px;
    cursor: pointer;
    margin-right: 15vw;
}

.logout-btn {
    padding: 3px 10px;
    background-color: #d32101;
    color: white;
    border-radius: 7px;
    cursor: pointer;
    height: vh;
    margin-top: 3px;
}

.products {
    margin: 20px;
    width: 70vw;
}

.cart {
    background-color: #fff3e6;
    padding: 25px;
    border-radius: 10px;
    margin-top: 24px;
    margin-right: 140px;
    max-width: max-content;
    max-height: max-content;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: white;
    border-radius: 7px;
    padding: 10px;
    margin: 15px;
    text-align: center;
    display: inline-block;
    width: 150px;
    height: max-content;

}

.product img {
    width: 100%;
}

.product button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.cart button {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    width: 300px;
    text-align: center;
}

.close {
    float: right;
    cursor: pointer;
}
