*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto' , 'sans-serif';
}
.container{
    max-width: 80%;
    /* background-color: rgb(198, 152, 241); */
    padding: 34px;
    margin: auto;
}
.container h1{
    text-align: center;
    font-family: 'Sriracha','cursive';
    font-size: 40px;
}

p{
    text-align: center;
    font-family: 'Sriracha','cursive';
    font-size: 17px;
}
input, textarea, select{
    width: 80%;
    margin: 11px 0px;
    padding: 7px;
    font-size: 24px;
    border: 2px solid black;
    border-radius: 6px;
    outline: none;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn{
    color: white;
    background: purple;
    padding: 8px 12px;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 14px;
    cursor: pointer;
}

.bg{
    position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      object-fit: cover;
      opacity: 0.5;
}
.submitmsg{
    color: green;
}
 header {
      background-image: url(head.jpg);
      display: flex;
      justify-content: space-between;
      border: solid white;
      border-radius: 10px;
    }

    nav {
      display: flex;
      margin: 8px;
      color: white;
    }

    li {
      display: flex;
      margin: 10px 8px;
      color: white;
    }
    .tytl{
      color:  white;
      font-size: 250%;
      
      font-style: oblique;
    }